*{
box-sizing: border border-box;
}
 body
{
  margin: 0px;
  padding: 0px;
  font: poppins; 
  background-image: url("background.jpg");
  align-items: center;
  background-repeat: no-repeat;
  top: 0;
  left:0;
  background-attachment: fixed;
  width: 100%;
   position: fixed;
}
#main{
width: 100%;
height: 50vh;
position: relative;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  background-color:#161853; 
  box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
  z-index: 1;
  align-content: right;
}

.logo img{
  height: 90px;
  align-self: start;
  border-radius:300px;
} 

.menu{
  list-style: none;
  display: flex;
}
.menu li a{
height: 40px;
line-height: 40px;
margin: 10px;
padding: 0px 22px;
display: flex;
font-size: 1.0em;

font-weight: 500;
letter-spacing: 1px;
color: #5584AC; 
align-items: right;
text-align: top;
}
a{
  text-decoration: none;
}
.image{
  width: 40%;
  height: 40%;
}
.image img{
  width: 350px;
  height: 350px;
  border-radius: 300px; 
}

.content {
display: flex;
width: 90%;
justify-content: space-around;
align-items: center;
position: absolute;
left: 50%;
right: 50%;
transform: translate(-50%, -50%);

}

.main-text{
  width: 600px;
  
}
.main-text h1{
  font-size: 3.5em;
  color: #F2789F;
  margin: 0px 0px 10px 0px;
  line-height: 30px;
   padding-top: 20px;
   align-content: top;
}

.main-text p {
  color:#F0ECE3; 
  text-align: top;
 
}

.resume-btn {
  width: 190px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #D47AE8;
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
  transition-delay: 0.03s;
}

.resume-btn:hover{
  background-color: #F05454;
  transition: all ease 0.2sec;
}

.menu li a:hover{
  background-color:#516BEB;
  color: white;
  transition: all ease 0.2sec;
}
